# Analyzing Purchasing Behavior at a Music Store Using SQL

## Executive Summary
In this project we want to explore the behavior of customers at our music store in order to optimize our future ordering strategy. In this case optimization is defined as ordering music that is most likely to sell at our store. We analyzed a few specific topics that could influence future ordering behavior including genres, customer countries of residence, and album purchasing behavior.

Rock is the most popular genre of the store and we recommend increasing the proportion of rock songs offered in the store's catalog. Additionally, 68 percent of tracks sold are sold as individual tracks as opposed to as part of an album so we recommend increasing the breadth of popular singles available in the store.

Further analysis to better optimize sales strategy includes tracking purchasing behavior over a longer time range, gathering additional patient demographics, and conducting more targeted experimentation of potential strategies.

## Background and Goals

In this project, we are consulting for a small digital music store whose leadership team wishes to maximize their sales revenue from the limited collection of albums and singles they sell. The store intends to use the results of our analysis to determine future direction for which music they will continue to stock. They have been tracking their sales for the past two weeks, along with a handful of extra data elements that they have a hunch are influencing their amount of sales, and they want us to help them establish patterns in what is seling successfully and what isn't. They called our attention to a few factors specifically, although they are open to any other insights we may find:

1. Genre of music purchased
2. Sales agent engaged with the customer
3. Nationality of customer base

Upon having initial discussions with the store owner, we agreed that the goal of this initial analysis is to maximize the amount of sales revenue per song offered in the store's catalog.

## Dataset

The music store has provided us two weeks of data containing 614 transactions. While they are working on collecting a larger sample size, we plan to move forward with analysis. The table schema is below.

<div>
<img src="music-store-schema.svg" width="600"/>
</div>

## Analysis

**Which Genres are Most Popular?**

The first topic that we'll dig into is the genres that tend to sell the most music compared to the selection that the music store currently has available. This data can uncover any genres that seem to be selling particularly well that the store should focus on moving forward.

In [1]:
%%capture
%load_ext sql
%sql sqlite:///music_store_example_dataset.db

In [2]:
%%sql
-- Double check all tracks have a genre
SELECT COUNT(*) FROM track WHERE track.genre_id IS NULL

 * sqlite:///music_store_example_dataset.db
Done.

[(0,)]

In [3]:
%%sql
/*Tracks available and sold by genre. 
Different granularity between track and invoice_line so used a CTE for the tracks available section*/

WITH tracks_available_per_genre AS (
    SELECT g.genre_id,
      g.name,
      COUNT(*) AS tracks_available,
      ROUND(CAST(COUNT(track_id) AS float) / (SELECT COUNT(track_id) FROM track) * 100, 2) AS pct_tracks_available
      FROM track t
      INNER JOIN genre g on g.genre_id = t.genre_id
      GROUP BY g.genre_id
    )

SELECT g.name, 
       tapg.tracks_available,
       tapg.pct_tracks_available,
       SUM(il.quantity) AS tracks_sold,
       ROUND(CAST(SUM(il.quantity) AS float) / (SELECT SUM(quantity) FROM invoice_line) * 100, 2) AS pct_tracks_sold
  FROM track t
 INNER JOIN genre g on g.genre_id = t.genre_id
  LEFT JOIN invoice_line il on il.track_id = t.track_id --still include tracks with no purchases
  LEFT JOIN tracks_available_per_genre tapg on tapg.genre_id = t.genre_id
 GROUP BY g.genre_id
 ORDER BY tracks_sold DESC

 * sqlite:///music_store_example_dataset.db
Done.

[('Rock', 1297, 37.03, 2635, 55.39),
 ('Metal', 374, 10.68, 619, 13.01),
 ('Alternative & Punk', 332, 9.48, 492, 10.34),
 ('Latin', 579, 16.53, 167, 3.51),
 ('R&B/Soul', 61, 1.74, 159, 3.34),
 ('Blues', 81, 2.31, 124, 2.61),
 ('Jazz', 130, 3.71, 121, 2.54),
 ('Alternative', 40, 1.14, 117, 2.46),
 ('Easy Listening', 24, 0.69, 74, 1.56),
 ('Pop', 48, 1.37, 63, 1.32),
 ('Electronica/Dance', 30, 0.86, 55, 1.16),
 ('Classical', 74, 2.11, 47, 0.99),
 ('Reggae', 58, 1.66, 35, 0.74),
 ('Hip Hop/Rap', 35, 1.0, 33, 0.69),
 ('Heavy Metal', 28, 0.8, 8, 0.17),
 ('Soundtrack', 43, 1.23, 5, 0.11),
 ('TV Shows', 93, 2.65, 2, 0.04),
 ('Drama', 64, 1.83, 1, 0.02),
 ('Rock And Roll', 12, 0.34, None, None),
 ('Bossa Nova', 15, 0.43, None, None),
 ('World', 28, 0.8, None, None),
 ('Science Fiction', 13, 0.37, None, None),
 ('Sci Fi & Fantasy', 26, 0.74, None, None),
 ('Comedy', 17, 0.49, None, None),
 ('Opera', 1, 0.03, None, None)]

From breaking down tracks sold by genre, we see that Rock is both the highest selling genre and the genre that sells the most compared to how many tracks are available to be sold. Metal, alternative & punk, and R&B/Soul are other genres that make up at least three percent of track sales and have a sales percentage higher than the percentage of tracks available to be sold. These four genres are potentially worth targeting to increase their availability in our catalog.

**Effectiveness of Support Representatives**

Another factor that may be influencing the amount of sales is the support representative that worked with a given customer as they made a purchase. Since this is an online retailer, many transactions aren't attributed to a certain sales rep, so first we'll investigate if the volume of sales involving a support rep is high enough that further analysis is warranted. In reviewing the ER diagram above, we need to check if all customers have a support rep assigned. We confirmed that all of the employees listed in the employee table are currently active with the company.

In [4]:
%%sql
-- Understand how many transactions are assigned to a support rep
SELECT COUNT(*) FROM customer WHERE support_rep_id IS NULL;

 * sqlite:///music_store_example_dataset.db
Done.

[(0,)]

At this company all active customers are assigned a support rep, so we can move forward analyzing the amount of sales for which each representative is responsible.

In [5]:
%%sql
--Total dollar amount of sales per support representative
SELECT 
    e.employee_id AS support_rep_id,   
    MAX(e.first_name || ' ' || e.last_name) AS support_rep_name,
    MAX(e.title) AS job_title,
    COUNT(DISTINCT c.customer_id) AS number_customers_assigned,
    CAST(MAX(e.birthdate) AS date) AS birth_year,
    ROUND(SUM(i.total),2) AS total_sales_in_dollars,
    ROUND(SUM(i.total) / COUNT(DISTINCT c.customer_id),2) AS dollars_per_customer
  FROM customer c
  LEFT JOIN invoice i ON i.customer_id = c.customer_id
  LEFT JOIN employee e ON e.employee_id = c.support_rep_id
 GROUP BY c.support_rep_id
 ORDER BY dollars_per_customer DESC

 * sqlite:///music_store_example_dataset.db
Done.

[(3, 'Jane Peacock', 'Sales Support Agent', 21, 1973, 1731.51, 82.45),
 (4, 'Margaret Park', 'Sales Support Agent', 20, 1947, 1584.0, 79.2),
 (5, 'Steve Johnson', 'Sales Support Agent', 18, 1965, 1393.92, 77.44)]

There is some difference between the sales agents, with Jane Peacock making more total sales and sales per customer than the other two, however there isn't enough of a difference to warrant further analysis.

**Purchases By Customer's Country**

The next piece of the data that we've decided to investigate is the country which orders are coming from, both the most common markets and if there are different characteristics in the ordering patterns coming from each country. This analysis is most useful for determining potential additions to the store's song and album catalog and aligning that strategy with advertising plans.

Upon investigating the customer.country and invoice.billing_country columns with the customer, we determined the customer.country column is more accurate and will be using this in our analysis.

In [6]:
%%sql
WITH customer_with_country_other AS (
                               SELECT country,
                                   CASE
                                        WHEN COUNT(customer_id) = 1 THEN 'Other'
                                        ELSE country
                                        END 
                                        AS country_other
                               FROM customer
                               GROUP BY country
                            )

SELECT cwco.country_other,
    COUNT(DISTINCT c.customer_id) AS total_customers_from_country,
    ROUND(SUM(i.total), 2) AS total_sales_dollars_from_country,
    ROUND(SUM(i.total) / COUNT(c.customer_id),2) AS avg_sales_per_customer
  FROM customer c
--subquery is to get Other to sort at the bottom
 INNER JOIN (SELECT *,
                    CASE
                        WHEN cwcosub.country_other = 'Other' THEN 1
                        ELSE 0
                        END 
                        AS sort
               FROM customer_with_country_other cwcosub
            ) cwco
            ON cwco.country = c.country
 INNER JOIN invoice i on i.customer_id = c.customer_id
 GROUP BY cwco.country_other
 ORDER BY cwco.sort, total_customers_from_country DESC

 * sqlite:///music_store_example_dataset.db
Done.

[('USA', 13, 1040.49, 7.94),
 ('Canada', 8, 535.59, 7.05),
 ('Brazil', 5, 427.68, 7.01),
 ('France', 5, 389.07, 7.78),
 ('Germany', 4, 334.62, 8.16),
 ('United Kingdom', 3, 245.52, 8.77),
 ('Czech Republic', 2, 273.24, 9.11),
 ('India', 2, 183.15, 8.72),
 ('Portugal', 2, 185.13, 6.38),
 ('Other', 15, 1094.94, 7.45)]

In [7]:
%%sql
--Create CTE with a list of countries that have more than one customer order, with all countries with one order as 'other'
WITH totals_per_country AS (
                        SELECT c.country,
                            COUNT(DISTINCT c.customer_id) AS customers_from_country,
                            ROUND(SUM(i.total), 2) AS total_sales_dollars_from_country
                          FROM customer c
                         INNER JOIN invoice i on i.customer_id = c.customer_id
                         GROUP BY c.country
                            )

--Sales data broken down by country
SELECT 
    c.country,
    g.name AS genre,
    COUNT(DISTINCT c.customer_id) AS unique_customers,
    tpg.customers_from_country,
    ROUND(CAST(COUNT(DISTINCT c.customer_id) AS float) / tpg.customers_from_country * 100,2) AS pct_customers_from_country,
    ROUND(SUM(il.unit_price),2) AS dollars_spent,
    tpg.total_sales_dollars_from_country,
    ROUND(ROUND(SUM(il.unit_price),2) / tpg.total_sales_dollars_from_country * 100,2) AS pct_sales
  FROM customer c
 INNER JOIN totals_per_country tpg on tpg.country = c.country
 INNER JOIN invoice i on i.customer_id = c.customer_id
 INNER JOIN invoice_line il on il.invoice_id = i.invoice_id
 INNER JOIN track t on t.track_id = il.track_id
 INNER JOIN genre g on g.genre_id = t.genre_id
 GROUP BY c.country, g.name
 ORDER BY dollars_spent DESC
 LIMIT 30

 * sqlite:///music_store_example_dataset.db
Done.

[('USA', 'Rock', 13, 13, 100.0, 555.39, 1040.49, 53.38),
 ('Canada', 'Rock', 8, 8, 100.0, 329.67, 535.59, 61.55),
 ('France', 'Rock', 5, 5, 100.0, 208.89, 389.07, 53.69),
 ('Brazil', 'Rock', 5, 5, 100.0, 202.95, 427.68, 47.45),
 ('Germany', 'Rock', 4, 4, 100.0, 192.06, 334.62, 57.4),
 ('United Kingdom', 'Rock', 3, 3, 100.0, 164.34, 245.52, 66.94),
 ('Czech Republic', 'Rock', 2, 2, 100.0, 141.57, 273.24, 51.81),
 ('USA', 'Alternative & Punk', 13, 13, 100.0, 128.7, 1040.49, 12.37),
 ('USA', 'Metal', 13, 13, 100.0, 122.76, 1040.49, 11.8),
 ('Portugal', 'Rock', 2, 2, 100.0, 106.92, 185.13, 57.75),
 ('India', 'Rock', 2, 2, 100.0, 100.98, 183.15, 55.14),
 ('Brazil', 'Alternative & Punk', 5, 5, 100.0, 73.26, 427.68, 17.13),
 ('Brazil', 'Metal', 5, 5, 100.0, 72.27, 427.68, 16.9),
 ('Canada', 'Metal', 8, 8, 100.0, 71.28, 535.59, 13.31),
 ('Ireland', 'Rock', 1, 1, 100.0, 71.28, 114.84, 62.07),
 ('Chile', 'Rock', 1, 1, 100.0, 60.39, 97.02, 62.24),
 ('Sweden', 'Rock', 1, 1, 100.0, 59.4, 75.24, 78.95),
 ('France', 'Metal', 5, 5, 100.0, 53.46, 389.07, 13.74),
 ('USA', 'R&B/Soul', 11, 13, 84.62, 52.47, 1040.49, 5.04),
 ('Finland', 'Rock', 1, 1, 100.0, 45.54, 79.2, 57.5),
 ('Spain', 'Rock', 1, 1, 100.0, 45.54, 98.01, 46.46),
 ('Germany', 'Metal', 4, 4, 100.0, 43.56, 334.62, 13.02),
 ('Hungary', 'Rock', 1, 1, 100.0, 43.56, 78.21, 55.7),
 ('Czech Republic', 'Alternative & Punk', 2, 2, 100.0, 41.58, 273.24, 15.22),
 ('Austria', 'Rock', 1, 1, 100.0, 39.6, 69.3, 57.14),
 ('Norway', 'Rock', 1, 1, 100.0, 39.6, 72.27, 54.79),
 ('Poland', 'Rock', 1, 1, 100.0, 39.6, 76.23, 51.95),
 ('USA', 'Blues', 12, 13, 92.31, 35.64, 1040.49, 3.43),
 ('Italy', 'Rock', 1, 1, 100.0, 34.65, 50.49, 68.63),
 ('USA', 'Alternative', 11, 13, 84.62, 34.65, 1040.49, 3.33)]

Looking at sales numbers by country, the United States stands out as the largest market we deal in, both by number of customers and money spent. Canada is the only other country with over $500 spent, and after that there are a number of markets with a handful of purchases. Moving forward the music store can focus it's advertising efforts in either the US and Canada to expand in the most active markets or focus on Brazil and Europe to grow the store's medium size markets.

When breaking down purchase data by both country and genre, the forefront takeaway is the dominance of the rock genre in the sales of the store. Every single customer that has purchased from the store in the dataset has purchased at least one track classified as rock. We recommend expanding further into rock as it is by far our most successful genre.

**Do customers purchase more albums or singles?**

The inferface of this online music store allows customers to purchase either full albums or individual tracks. There is no discount associated with purchasing a whole album; the album price is the sum of the individual track prices. While thus far we have focused our analysis on the track purchasing level, we also want to investigate if customers are choosing to purchase full albums or only their favorite individual tracks. Note that at this music store you cannot combine an album purchase with an individual track purchase; if you do this there will be two invoices created, one for the album and one for the tracks.

In [8]:
%%sql
WITH album_per_invoice AS (
    SELECT
        i.invoice_id,
        MAX(t.album_id) AS album_id, --can assume there is one album per invoice per this dataset. Without this assumption we could group by album_id as well
        COUNT(t.track_id) AS number_tracks
      FROM invoice_line iline
     INNER JOIN invoice i on i.invoice_id = iline.invoice_id
     INNER JOIN track t on t.track_id = iline.track_id
     GROUP BY i.invoice_id
    )

SELECT 
    CASE WHEN (
                --list of tracks in a given album
                SELECT t.track_id
                FROM track t
                INNER JOIN album a on a.album_id = t.album_id
                WHERE a.album_id = api.album_id

                EXCEPT

                --list of tracks on a given invoice
                SELECT t.track_id
                FROM track t
                INNER JOIN invoice_line iline ON iline.track_id = t.track_id
                WHERE iline.invoice_id = api.invoice_id
              
            ) IS NULL
    
            AND (
                SELECT t.track_id
                FROM track t
                INNER JOIN invoice_line iline ON iline.track_id = t.track_id
                WHERE iline.invoice_id = api.invoice_id

                EXCEPT

                SELECT t.track_id
                FROM track t
                INNER JOIN album a on a.album_id = t.album_id
                WHERE a.album_id = api.album_id
              
            ) IS NULL
        THEN 'Yes'
        ELSE 'No'
        END AS 'is_album_purchase',
        
    COUNT(api.invoice_id) AS number_invoices,   
    ROUND(CAST(COUNT(invoice_id) AS float) / (SELECT COUNT(*) FROM album_per_invoice) * 100,2) AS 'percent_of_invoices',
    SUM(api.number_tracks) AS number_tracks_purchased,
    ROUND(CAST(SUM(api.number_tracks) AS float) / (SELECT COUNT(*) FROM invoice_line) * 100,2) AS 'percent_tracks_sold',
    ROUND(CAST(SUM(api.number_tracks) AS float) / COUNT(api.invoice_id),2) AS tracks_per_invoice
  FROM album_per_invoice api
 GROUP BY is_album_purchase

 * sqlite:///music_store_example_dataset.db
Done.

[('No', 500, 81.43, 3281, 68.97, 6.56),
 ('Yes', 114, 18.57, 1476, 31.03, 12.95)]

While the number of tracks per invoice associated with a album purchase is higher than the number associated with track purchases, overall over 68 percent of tracks purchased at the music store are bought as individual tracks, not as part of an album. Thus, when weighing whether to include entire albums in the store's inventory versus only purchasing a few popular tracks on each album, we tentatively recommend focusing on stocking the most popular tracks. That being said, further knowledge and analysis is required on the cost of licensing certain tracks since it is possible that putting full albums in the music store is cheaper on a per track basis.

## Conclusion

In this analysis we reviewed four topics within a dataset of purchases from an online music store: genres, support representatives, the country a customer purchased from, and whether customers are purchasing albums or singles. From our initial analysis we made the following conclusions.

* Rock is the genre with the most tracks sold the genre that a given customer is most likely to have purchased a track from. This trend holds across the countries that the music store has sales in.
* The amount of sales for each support representative working at the store is similar enough that this isn't a major factor in optimizing future sales.
* The United States and Canada are the two most prevalent markets for the store, with remaining purchases spread out throughout the world.
* Customers are purchasing more individual tracks than full albums with over 68 percent of tracks sold not associated with an album purchase.

### Initial Recommendations

Our top recommendation is to continue investing in rock as a genre. Even though rock is already the most prevelant genre in the catalog, it makes up a higher percentage of sales than it does inventory. Additionally, every customer that has purchased from the site in the two weeks we analyzed purchased at least one rock song. For these reasons, we should continue to invest in this area and continue establishing our place in the market.

We also recommend revisiting contracts with the music labels the store works with in order to move more towards an individual track based model. If the website is able to offer a more broad selection of popular songs within it's highest selling genres we'd expect to see more sales per song offered.

In terms of further investment and marketing in certain demographics, we recommend continuing to gather data on customer demographics as we feel more targeted marketing would be more effective for small store such as this. The United States market is the largest in terms of sales, so if we have a constraint on gathering data we can focus our data gathering efforts on US customers.

### Further Analysis

First and foremost, this dataset only contained two weeks of purchases; we wish to continue tracking this data moving forward to gather a larger dataset we can perform the same analysis on. It is possible that conclusions and recommendations can change with a larger dataset. 

As discussed in the Initial Recommendations section, while gathering customer data can be sensitive because of privacy concerns, we feel that more analysis is warranted to better target future marketing efforts. We already have more detailed customer location data that is the next step for analyzing this topic, but we currently are lacking customer demographic data which can be used more effectively in online marketing. 

Last, as we start implementing the recommendations from this analysis we can start more discretely testing the effectiveness of certain hypotheses, such as whether moving to a model based on offering a larger breadth of individual tracks as opposed to albums will result in higher sales.